/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
}

/* min body height */

body {
  min-height: 100vh;
  background-color: #120e43;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.web-view {
  max-width: 1440px;
  margin: 0px auto;
}

/*------ style-start -------*/

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 90px 120px 50px;
  align-items: center;
  justify-items: center;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
  padding-right: 45%;
  color: #fff;
}

.nav-option ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-option li {
  margin-left: 2em;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  color: #fff;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #12b0e8;
}

/* -------Influencer section------- */

.topweb {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: top right;
  height: 475px;
  margin-right: 15%;
}

.topweb-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  max-width: 580px;
  margin-left: 15%;
}

.content-title {
  color: #3a3a3a;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
  color: #fff;
}

.content-p {
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 16px;
  padding-right: 85px;
  color: #fff;
}

.btn {
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 24px;
  border: 0px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.btn i {
  padding: 8px;
}

/* ------Logo Section----- */

.logo-sec {
  margin-top: 110px;
  background-color: #fff;
  border-radius: 50px;
}

.all-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.h {
  max-width: 1350px;
  height: 1px;
  margin: 40px;
  background-color: #c0ccda;
  border: none;
}

.logo-img img {
  width: 90px;
  height: 35px;
}

/* ----Card Section----- */

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.card-title > h3 {
  color: #3a3a3a;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 3vh;
  color: #fff;
}

.card {
  border-radius: 10px;
  background: #cad5e2;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 35vh;
}

.card-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.card-img img {
  padding: 15px 7%;
}

.card-name {
  padding: 5px 25px;
  color: var(--text-gray-900, #18191f);
  font-size: 28px;
  font-weight: 500;
}

.card-price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  padding: 5px 25px;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 25px;
}

.fa-star.filled {
  color: #fb8200;
}

.fa-star-half-stroke.unfilled {
  color: #fb8200;
}

.rate {
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  color: #5e6366;
}

.card-content {
  padding: 5px 25px;
  color: #120e43;
  font-size: 2vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 17px;
}

.see-more {
  margin-top: 40px;
  display: flex;
  gap: 5px;
  grid-column: 3;
  justify-self: right;
  padding-right: 60px;
}

.see-title {
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.icon {
  color: rgba(224, 44, 109, 0.87);
}

/* -----Feature Section---- */

.feature {
  display: flex;
  margin-top: 125px;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}

.feature-content {
  max-width: 650px;
}

.feature-content .content-title {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
}

.feature-content .btn {
  border-radius: 5px;
}

/* -----Footer Tag------ */

.footer {
  text-align: center;
  margin-top: 200px;
  background: #0a0826;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding-top: 15px;
}

.footer-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.footer-content {
  color: #d9dbe1;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
}

@media only screen and (max-width: 915px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /*------ style-start -------*/

  .navigation {
    display: grid;
    grid-template-columns: 10px 1fr;
    margin: 0;
    grid-gap: 5px;
    grid-auto-flow: column;
  }

  .nav-title {
    text-align: center;
    padding-left: 20px;
    padding-right: 0px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #5da3fa;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-option li {
    margin-left: 0px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    grid-column: 1;
    justify-self: self-start;
    margin-left: 10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* -------Influencer section------- */

  .topweb {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    max-width: 350px;
    margin: 30px;
    background-size: contain;
  }

  .topweb-info {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .content {
    max-width: 580px;
    margin: 30px auto;
  }

  .content-title {
    font-size: 30px;
    margin-bottom: 16px;
    text-align: center;
  }

  .content-p {
    font-size: 16px;
    margin-bottom: 16px;
    padding: 0px;
    text-align: center;
  }

  .content .btn {
    margin: 0 auto;
    display: block;
  }

  /* ------Logo Section----- */

  .logo-sec {
    margin: 200px 10px 10px 0;
  }
  .h {
    height: 0;
  }

  .all-logo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;

    margin: 0 auto;
  }

  .logo-img {
    flex: 0 0 20%;
  }

  /* ----Card Section----- */

  .card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .card-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .see-more {
    gap: 5px;
    grid-column: 1;
    justify-self: right;
    padding-right: 20px;
  }
  .card {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 40vh;
  }
  /* -----Feature Section---- */

  .feature {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-top: 50px;
    gap: 50px;
  }
  .feature-content .content-title {
    color: #0a0826;
    font-size: 1.8em;
    font-weight: 700;
  }

  .feature-content .content-p {
    font-size: 1em;
    margin-bottom: 1.5vh;
    padding: 15px;
    text-align: center;
  }

  .feature-content .btn {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }

  /* -----Footer Tag------ */

  .footer {
    margin-top: 50px;
    height: 35vh;
  }
}
