/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.web-view {
  max-width: 1440px;
  margin: 0px auto;
}

/*------ style-start -------*/

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 90px 120px 50px;
  align-items: center;
  justify-items: center;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
  padding-right: 45%;
}

.nav-option ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-option li {
  margin-left: 2em;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}

/* -------Influencer section------- */

.topweb {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: top right;
  height: 475px;
  margin-right: 15%;
}

.topweb-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  max-width: 580px;
  margin-left: 15%;
}

.content-title {
  color: #3a3a3a;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}

.content-p {
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 16px;
  padding-right: 85px;
}

.btn {
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 24px;
  border: 0px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.btn i {
  padding: 8px;
}

/* ------Logo Section----- */

.logo-sec {
  margin-top: 110px;
}

.all-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 30px;
}

.h {
  max-width: 1350px;
  height: 1px;
  margin: 40px;
  background-color: #c0ccda;
  border: none;
}

.logo-img img {
  width: 90px;
  height: 35px;
}

/* ----Card Section----- */

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.card-title > h3 {
  color: #3a3a3a;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 3vh;
}

.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 35vh;
}

.card-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.card-img img {
  padding: 15px 7%;
}

.card-name {
  padding: 5px 25px;
  color: var(--text-gray-900, #18191f);
  font-size: 28px;
  font-weight: 500;
}

.card-price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  padding: 5px 25px;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 25px;
}

.fa-star.filled {
  color: #fb8200;
}

.fa-star-half-stroke.unfilled {
  color: #fb8200;
}

.rate {
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  color: #5e6366;
}

.card-content {
  padding: 5px 25px;
  color: var(--gray-50, #787885);
  font-size: 2vh;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 17px;
}

.see-more {
  margin-top: 40px;
  display: flex;
  gap: 5px;
  grid-column: 3;
  justify-self: right;
  padding-right: 60px;
}

.see-title {
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.icon {
  color: rgba(224, 44, 109, 0.87);
}

/* -----Feature Section---- */

.feature {
  display: flex;
  margin-top: 125px;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}

.feature-content {
  max-width: 650px;
}

.feature-content .content-title {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
}

.feature-content .btn {
  border-radius: 5px;
}

/* -----Footer Tag------ */

.footer {
  text-align: center;
  margin-top: 200px;
  background: #0a0826;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding-top: 15px;
}

.footer-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.footer-content {
  color: #d9dbe1;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
}
